.userInfo {
    &__user{
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
      }
    &__avatar{
        width: 30px;
        height: 30px;
      }
    &__name{
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        color: #6B7A99;
    
    
      }

}
