@import 'variables';

.sidenav{
    padding: 30px 25px;
    flex: 1; //
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;


  
    &_links, &_users{
      display: flex;
      flex-direction: column;
      gap: 20px;
  
    }
  
    &_users__link{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
  
  }

  @media (max-width: 376px) {
    .sidenav{
        display: none;
    }
    
    }