
.content{
    display: flex;
    max-height: calc(100vh - 100px);

  }


  @media (max-width: 376px) {
    .content{
        height: max-content;
        width: 360px;
        display: block;
        max-height: none;


    
    }
  
  }  