.label{
    display: flex;
    flex-direction: row;
    width: 250px;
    height:30px;
    padding: 0px 45px 0px 20px;
    border-radius: 30px;
    align-items: center;
    justify-content: start;
    gap: 20px;

    &_title{

        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: #6B7A99;
        
        
    }

}

