@import 'variables';
.user{
    flex-basis: 360px;
    padding: 30px 58px 30px 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid $border-color;
    &_part{

      display: flex;
      flex-direction: column;
      gap: 28px;
  
    }
  
    &_btns{
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
    }
  

    
  }

  @media (max-width: 376px) {
    .user{
        display: none;
    
    }
    
    }