.header{
    width: 100%;
    padding: 25px;
    height:auto;
    display: flex;
    flex-direction: row;
    gap: 80.33px; //
    &_menu{
      display: flex;
      flex-direction: row;
      gap: 35px;
      align-items: center;

      &__title{
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0px;
        }
    }
}