@import 'variables';

.header{
    width: 100%;
    max-height: 100px;
    padding: 25px;
    height:auto;
    display: flex;
    flex-direction: row;
    gap: 80px; 
    border-bottom: 2px solid $border-color;

    &__site{
        display: flex;
        flex-direction: row;
        gap: 80px; 

    }

    &__mobile{
        display: none;
    }

    &_menu{
      display: flex;
      flex-direction: row;
      gap: 35px;
      align-items: center;

      &__title{
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0px;
        }
    }
}

@media (max-width: 376px) {
.header{
    &__site{
        display: none;

    }

    &__mobile{
        display: block;
    }

}

}