@import 'variables';

.table{
    width: 240px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1px;
    border-radius: 15px;
    outline-style: auto;
    outline: 1px solid $border-color;
        :nth-child(odd){
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        }
        :nth-child(even){
        border-bottom: 1px solid $border-color;
        }
        :nth-last-child(-n+2){
            border-bottom: none;
        }
        :nth-last-child(-n+1){
            border: none;
        }
 
    &_item {
  
        text-align: center;
        position: relative;
        z-index: 1; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        :nth-child(n){
            border: none;
        }

        &_active{
            background-color: #FFFFFF;
            color: #6B7A99;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            outline: 10px solid #FFFFFF;
            outline-style: auto;
                :nth-child(n){
                    border: none;
                }
        }
    
        &__img{
            width: 30px;
            height: 30px;
            border: none;
    
        }
    
        &__title{
            border: none;
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #ADB8CC;
    
        }
    }
}