@import 'variables';

.side{
    width: 290px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px 0px 0px 15px;
    display:flex;
    flex-direction: column;
    border-right: 2px solid $border-color;



    &_labels{
        padding: 40px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 48px;

        &__title{
            font-size: 13px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            color: #6B7A99;
            margin-bottom: 15px;
            padding-left: 20px;
            height: 25px;
        }

    }

    &_folders{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 60px;
        border-bottom: 2px solid #F5F6F7;
        &__add{
            display: flex;
            flex-direction: row;
            width: 250px;
            height:50px;
            padding: 10px 45px 10px 20px;
            border-radius: 30px;
            align-items: center;
            justify-content: start;
            gap: 20px;

        }

        &__title{

            font-size: 12px;
            font-weight: 900;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #ffffff;
            width: 145px;

        }

        &__pic{
            align-content: flex-start;
        }

        &__list{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 15px;
        }
    }

  

    
}

@media (max-width: 376px) {
    .side{
       display: none;
    }
    
    }